-if ! current_user
	.hero-unit.padding-top.padding-bottom
		%h2
			Welcome to Autobot
		%p.lead
			Making life easier since 2013.
		%a.btn.btn-large.half-margin-bottom{:href=>"#{new_user_registration_path}"}
			Sign Up
		= link_to (new_user_session_path) , :class=>'btn btn-large half-margin-bottom' do
			Login

.row
	.span9
		.page-header
			%h4
				Cars
		-@cars.each do |c|
			= render partial: "shared/car_thumb", locals: {c: c}
	.span3
		.page-header
			%h5
				Drivers
		-@users.each do |u|
			.half-margin-bottom
				=image_tag u.avatar.url(:thumb), :class=>"half-margin-right", :style=>"width:16px; height:16px;"
				=link_to u do
					=u.name