@import 'bourbon';

// baseline

$baseline: 24px;

//colors

$light-gray-color:#e6e6e6;
$black-color:#1d1d1d;
$link-color:#00ba94;


// header

.logo{
	width:52px;
	height:20px;
	background-size: 52px 20px;
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
	text-align: center;
	margin: 0 auto;
}

//margin & padding helpers

//margin helpers
.margin-auto {
    margin: 0 auto;
}
.margin {
  margin: $baseline !important;
}
.margin-top {
  margin-top: $baseline !important;
}
.margin-right {
  margin-right: $baseline !important;
}
.margin-bottom {
  margin-bottom: $baseline !important;
}
.margin-left {
  margin-left: $baseline !important;
}
.double-margin-top {
  margin-top: $baseline*2 !important;
}
.champ-view-margin-bottom {
  margin-bottom: -12px !important;
}
.double-margin-right {
  margin-right: $baseline*2 !important;
}
.double-margin-bottom {
  margin-bottom: $baseline*2 !important;
}
.double-margin-left {
  margin-left: $baseline*2 !important;
}
.triple-margin-right {
  margin-right: $baseline*3 !important;
}
.half-margin-top {
  margin-top: $baseline/2 !important;
}
.half-margin-right {
  margin-right: $baseline/2 !important;
}
.half-margin-bottom {
  margin-bottom: $baseline/2 !important;
}
.half-margin-left {
  margin-left: $baseline/2 !important;
}
.quarter-margin-top {
  margin-top: $baseline/4 !important;
}
.quarter-margin-right {
  margin-right: $baseline/4 !important;
}
.quarter-margin-bottom {
  margin-bottom: $baseline/4 !important;
}
.quarter-margin-left {
  margin-left: $baseline/4 !important;
}
.no-margin {
  margin: 0px !important;
}
.no-margin-top {
  margin-top: 0px !important;
}
.no-margin-right {
  margin-right: 0px !important;
}
.no-margin-bottom {
  margin-bottom: 0px !important;
}
.no-margin-left {
  margin-left: 0px !important;
}
.large-margin-top {
  margin-top: $baseline*3 !important;
}

//padding helpers

.padded {
  padding: $baseline !important;
}
.padding-post {
  padding: 0 $baseline $baseline*1.5;
}
.padding-top {
  padding-top: $baseline !important;
}
.padding-right {
  padding-right: $baseline !important;
}
.padding-bottom {
  padding-bottom: $baseline !important;
}
.padding-left {
  padding-left: $baseline !important;
}
.double-padding-top {
  padding-top: $baseline*2 !important;
}
.double-padding-right {
  padding-right: $baseline*2 !important;
}
.double-padding-bottom {
  padding-bottom: $baseline*2 !important;
}
.double-padding-left {
  padding-left: $baseline*2 !important;
}
.triple-padding-right {
  padding-right: $baseline*3 !important;
}
.menu-padding {
  padding: 12px 24px 8px 23px;
}
.no-padding {
  padding: 0px !important;
}
.no-padding-top {
  padding-top: 0px !important;
}
.no-padding-right {
  padding-right: 0px !important;
}
.no-padding-bottom {
  padding-bottom: 0px !important;
}
.no-padding-left {
  padding-left: 0px !important;
}
.half-padding {
  padding: $baseline/2 !important;
}
.half-padding-top {
  padding-top: $baseline/2 !important;
}
.half-padding-right {
  padding-right: $baseline/2 !important;
}
.half-padding-bottom {
  padding-bottom: $baseline/2 !important;
}
.half-padding-left {
  padding-left: $baseline/2 !important;
}
.quadrupal-padding-top {
  padding-top: $baseline*4 !important;
}
.quarter-padding {
  padding: $baseline/4 !important;
}
.quarter-padding-top {
  padding-top: $baseline/4 !important;
}
.quarter-padding-right {
  padding-right: $baseline/4 !important;
}
.quarter-padding-bottom {
  padding-bottom: $baseline/4 !important;
}
.quarter-padding-left {
  padding-left: $baseline/4 !important;
}

//display

.inline-block{
  display:inline-block;
}

.full-width{
	width:100%;
}

// car mages

img.car-photo{
	border-radius:8px;
  @include transition-duration(.2s);
  &:hover{
    opacity:.8;
  }
}

//links

a{
  color:$black-color;
  &:hover{
    text-decoration:none;
    color:$link-color;
  }
}


//buttons
.btn {
    background-color: $link-color;
    background-image: none;
    border: none;
    box-shadow: none;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    text-shadow: none !important;
    @include transition-duration(.5s);
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: white;
  background-color: #666;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  *background-color: #666;

}
.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
}


//header

.navbar-inner, .navbar-inverse{
  background:none!important;
  background-color:$black-color!important;
}

//footer

footer{
  background-color:#f2f2f2;
}

